body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
}

body {
  background: rgb(52,8,124);
  font-family: Arial, Helvetica, sans-serif;

}
.container h1 { 
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 100;
  margin-bottom: 2rem;
}

.container {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  font-size: 1.5rem;
  padding: 1rem 3rem;
  width: 20rem;
  color: #f4f4f4;
  text-transform: uppercase;
}

.btn {
  text-decoration: none;
  border: 1px solid #f4f4f4;
  position: relative;
  overflow: hidden;
}
/*
.btn:hover {
  box-shadow: 1px 1px 5px 1px #f4f4f4;
}
*/  
.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    #f4f4f4,
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

